:root {
    --main-color: rgb(37, 100, 207);
    --main-bg-color: rgb(250, 249, 248);
}




.form-check-input[type=checkbox] {
    border-radius: 60%;
    border-color: var(--main-color);
}





body {
    background-color: var(--main-bg-color)
}

#task {
    border-width: 0px;
    border-radius: 5px 5px 0px 0px;
}

.form-control-lg:focus {
    border-color: #597fe6;
}

#textbox-bottom-container {
    background-color: var(--main-bg-color);
    
}